.audio-btn__wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio__btn {
    width: 80px;
    height: 80px;
    background-color: #fff;
    background-image: url(../resources/audio-btn.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.audio__img {
    width: 40%;
    height: auto;
}


@media (max-width: 539px) {
    .audio__btn {
        top: 50px;
        right: 30px;
        width: 60px;
        height: 60px;
        border-radius: 30px;
    }
}